
<ion-header>
  <ion-toolbar>
      <ion-title>Crypto Prices</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newspage()">
        <ion-icon name="ios-card-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="add()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="more($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content no-padding>
  <div>
  <ion-row style="background-color: #222222;color:white">
    <ion-col col-sm-8> Total Portfolio Value</ion-col>
    <ion-col col-sm-4> 24hr change</ion-col>
  </ion-row>
    <ion-row >
      <ion-col col-sm-8> 0.70144</ion-col>
      <ion-col col-sm-4> +0.8</ion-col>
    </ion-row>
  </div>

  <ion-row style="background-color: #222222;color:white">
    <ion-col col-sm-3> Coin</ion-col>
    <ion-col col-sm-5> Holidings</ion-col>
    <ion-col col-sm-2> Price</ion-col>
    <ion-col col-2>Alert</ion-col>
  </ion-row>

  <ion-item *ngFor="let coin of Coins"  no-padding>
    <ion-row no-padding >
   <ion-col col-10 (click)="graphalert(coin)">
     <ion-row>
      <ion-col col-sm-3>
        <img item-left src="{{coin.imageurl}}" style="width:26px;height: 26px"/>
        <p>{{coin.name}}</p>
      </ion-col>
      <ion-col col-sm-7></ion-col>
      <ion-col col-sm-0>
        <p>{{coin.price_usd}}</p>
        <div *ngIf="coin.percent_change_24h < 0">{{coin.percent_change_24h}}<ion-icon md="md-arrow-round-down"></ion-icon></div>
        <div *ngIf="coin.percent_change_24h > 0">{{coin.percent_change_24h}}<ion-icon md="md-arrow-round-up"></ion-icon></div>
      </ion-col>
     </ion-row>
     </ion-col>

      <ion-col col-2>

        <ion-icon item-right name="ios-notifications-outline" class="not" (click)="alertco(coin)">
        </ion-icon>
      </ion-col>

    </ion-row>
  </ion-item>
  <!-- <ion-item>
     <ion-icon name="logo-bitcoin" item-left color="yellow"></ion-icon>
     <p><b>BIT COIN Wallet</b></p>
     <button ion-button outline color="yellow"> ad</button>
     <button ion-button small item-right>Install</button>
   </ion-item>  -->

  <ion-row>
    <ion-col col-5></ion-col>
    <ion-col col-5>
      <ion-icon name="ios-add-circle" (click)="add()" class="add">
      </ion-icon>
      <p style="margin:-5px"><b>Add Coin</b></p>
    </ion-col>
    <ion-col col-2></ion-col>
  </ion-row>

</ion-content>


<!--<ion-card (click)="bit()">-->
<!--<ion-item>-->
<!--<ion-row>-->
<!--<ion-col col-7> BitCoin</ion-col>-->
<!--<ion-col col-3>-->
<!--<ion-icon name="logo-usd"> 16,0000</ion-icon>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-row>-->
<!--<ion-col col-7> BTC</ion-col>-->
<!--<ion-col col-3>-->
<!--<ion-icon name="add">1.66% ($266.66)</ion-icon>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<p>Past Day </p>-->
<!--<hr>-->
<!--</ion-item>-->
<!--<canvas #barCanvas></canvas>-->


<!--</ion-card>-->

<!--<ion-card (click)="bit()">-->
<!--<ion-item>-->
<!--<ion-row>-->
<!--<ion-col col-7> BitCoin Cash</ion-col>-->
<!--<ion-col col-3>-->
<!--<ion-icon name="logo-usd">16,0000</ion-icon>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-row>-->
<!--<ion-col col-7> BTC</ion-col>-->
<!--<ion-col col-3>-->
<!--<ion-icon name="add">1.66% ($266.66)</ion-icon>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<p>Past Day </p>-->
<!--<hr>-->
<!--</ion-item>-->
<!--<canvas #lineCanvas></canvas>-->


<!--</ion-card>-->

<!--<ion-card (click)="bit()">-->
<!--<ion-item>-->
<!--<ion-row>-->
<!--<ion-col col-7> Ethereum</ion-col>-->
<!--<ion-col col-3>-->
<!--<ion-icon name="logo-usd">16,0000</ion-icon>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-row>-->
<!--<ion-col col-7> BTC</ion-col>-->
<!--<ion-col col-3>-->
<!--<ion-icon name="add">1.66% ($266.66)</ion-icon>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<p>Past Day </p>-->
<!--<hr>-->
<!--<ion-card-content>-->
<!--<canvas #barCanvas></canvas>-->
<!--</ion-card-content>-->
<!--</ion-item>-->
<!--</ion-card>-->

<!--<ion-card (click)="bit()">-->
<!--<ion-item>-->
<!--<ion-row>-->
<!--<ion-col col-7> LitesCoin</ion-col>-->
<!--<ion-col col-3>-->
<!--<ion-icon name="logo-usd">16,0000</ion-icon>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<ion-row>-->
<!--<ion-col col-7> BTC</ion-col>-->
<!--<ion-col col-3>-->
<!--<ion-icon name="add">1.66% ($266.66)</ion-icon>-->
<!--</ion-col>-->
<!--</ion-row>-->
<!--<p>Past Day </p>-->
<!--<hr>-->
<!--<ion-card-content>-->
<!--<canvas #lineCanvas></canvas>-->
<!--</ion-card-content>-->
<!--</ion-item>-->
<!--</ion-card>-->
