page-accounts {

    h3{
      border: 10px;
      background-color: grey;
      color:white;
      padding:15px;
    }



}
ion-select {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 70%;
}
